#header > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#header > * > figure {
  margin: 0;
  max-height: var(--header-content-height-max);
}

#header > * > figure img {
  max-height: var(--header-content-height-max);
}

#header > * > nav {
  margin: 0;
}

#header > * > nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#header > * > nav > ul > li {
  list-style-type: none;
  margin-left: 1em;
}