#header > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#header > * > figure {
  margin: 0;
}

#header > * > figure img {
  max-height: var(--header-content-height-max);
}

#header > * > nav {
  margin: 0;
}

#header > * > nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#header > * > nav > ul > li {
  list-style-type: none;
  margin: 0 0 0 1em;
}

#footer > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer > * > * {
  margin: 0;
}


#footer > * > :first-child {
  flex-basis: 25%;
  padding-right: 2rem;
  border-right: 1px solid var(--gray-viii);
}

#footer > * > :first-child > aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  color: var(--gray-iii);
}

#footer > * > :last-child {
  flex-basis: 80%;
  padding-left: 2rem;
  padding-top: 5rem;
}

#footer > * > :last-child > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  padding: 0;
}

#footer > * > :last-child > ul > li {
  margin: 0 0 0 1em;
  list-style-type: none;
  font-weight: bold;
}

#footer > * > :last-child > ul > li > a {
  text-decoration: underline;
}

#footer > * > :last-child > ul > li > ul {
  margin-left: 0;
  padding: 0;
}

#footer > * > :last-child > ul > li > ul > li {
  margin-top: 1em 0 0 0;
  list-style-type: none;
  font-weight: normal;
}

#footer > * > :last-child > ul > li > ul > li > ul {
  display: none;
}

#bottombar > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;  
}

#bottombar > * > * {
  margin: 0;
}

#bottombar > * > * > * + * {
  margin-top: var(--space-xxsmall);
}


/**
 * Following classes are needed in index.html to demonstrate some points.
 * Beyond that purpose, they are not particular useful, so don't blindly
 * copy them. :-);
 */

.min-content-no-wrap-center {
  width: min-content;
  min-width: 20vw;
  white-space: nowrap;
  text-align: center;
}

.outline-on-hover:hover,
.outline-on-hover:active {
  outline: 1px solid red;
}

.faux-columns-demo .col1,
.faux-columns-demo .col2,
.faux-columns-demo .col3,
.faux-columns-demo .col4 {
  background: var(--pale-orange);
  padding: 1em;
  text-align: center;
 }

 .h-spacer-50 { height: 50px; }
 .h-spacer-100 { height: 100px; }
 .h-spacer-200 { height: 200px; }
 .h-spacer-400 { height: 400px; }
