/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: Don't edit this file. Instead, add your own definitions to
 * stylesheet loaded after Kntnt CSS Framework. You should override the
 * variabels that starts with --color-primary-… It's recommended that you
 * leave the other ones as is.
 */


:root {


  /**
   * Primary color is inteded for links and hovered buttons.
   * YOU SHOULD OVERRIDE THIS ONE.
   */

   --color-primary: hsl(130, 70%, 30%);


   /**
    * Accentuated primary color is inteded for buttons and hovered links.
    */

   --color-primary-accentuated: hsl(130, 70%, 20%);


   /**
    * Dark color is used for
    */
   --color-primary-dark: hsl(130, 30%, 50%);


   /**
    * Light color is used for
    */
   --color-primary-light: hsl(130, 30%, 80%);


  /**
   * Alert colors inteded forerror messages, alert boxes etcetera.
   */

  --color-alert: hsl(0, 80%, 40%);
  --color-alert-accentuated: hsl(0, 100%, 60%);
  --color-alert-dark: hsl(0, 80%, 30%);
  --color-alert-light: hsl(0, 70%, 50%);


  /**
   *  Blacks.
   */




}
