/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: Don't edit this file or override these values. Instead, override
 * the use of them in kntnt-defaults.css by adding your own definitions to
 * stylesheet loaded after Kntnt CSS Framework.
 */


:root {


  /**
   *  System font stacks
   */

  --font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  --font-stack-serif: "Georgia Pro", Georgia, serif;
  --font-stack-mono: Consolas, Monaco, Menlo,"Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Courier New", monospace;


  /**
   * Font size. Please notice that they are relative to the font size of
   * the text container's font size.
   */

  --font-size-xxsmall: 0.5000em;
  --font-size-xsmall: 0.6300em;
  --font-size-small: 0.7937em;
  --font-size-medium: 1.0000em;
  --font-size-large: 1.2599em;
  --font-size-xlarge: 1.5874em;
  --font-size-xxlarge: 2.0000em;
  --font-size-big: 2.5198em;
  --font-size-xbig: 3.1748em;


  /**
   * Font size relative the text container's font size.
   */
  
  --font-size-xxsmaller: 50.00%;
  --font-size-xsmaller: 63.00%;
  --font-size-smaller: 79.37%;
  --font-size-larger: 125.99%;
  --font-size-xlarger: 158.74%;
  --font-size-xxlarger: 200.00%;
  --font-size-biger: 251.98%;
  --font-size-xbiger: 317.48%;
  

  /**
   *  Font weights
   */

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --font-weight-extra-black: 950;


  /**
   *  Spacing
   */

  --space-xxsmall: 0.125rem;
  --space-xsmall: 0.25rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 2rem;
  --space-xlarge: 4rem;


  /**
   * Drop shadow
   */

  --shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);


  /**
   * Transitions durations
   */
  --promptly: 150ms;
  --swiftly: 300ms;
  --leisurely: 600ms;


}