/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/**
 * Paragraphs
 */

p {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  line-height: var(--text-line-height);
}

/**
 * Links
 */

a {
  color: var(--link-color);
  text-decoration-color: transparent;
  transition-property: color, text-decoration-color;
  transition-duration: var(--swiftly);
  transition-timing-function: ease;
 }

a:hover,
a:focus,
a:active {
  color: var(--link-hover-color);
  text-decoration-color: inherit;
}


/**
 *  Main header on page
 */

h1 {
  color: var(--h1-color);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  font-style: var(--h1-font-style);
  line-height: var(--h1-line-height);
}


/**
 *  Subheading in text
 */

h2 {
  color: var(--h2-color);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  font-style: var(--h2-font-style);
  line-height: var(--h2-line-height);
}


/**
 *  Sub-subheading in text
 */

h3 {
  color: var(--h3-color);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
  line-height: var(--h3-line-height);
}


/**
 *  Sub-subheading in text, alternative style
 */

h4 {
  color: var(--h4-color);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  font-style: var(--h4-font-style);
  line-height: var(--h4-line-height);
}


/**
 *  Short text used like a heading, e.g. a question in a Q&A-article.
 */

h5 {
  color: var(--h5-color);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  font-style: var(--h5-font-style);
  line-height: var(--h5-line-height);
}


/**
 *  Run-in header
 */

h6 {
  display: inline-block;
  margin: var(--vertical-space-paragraph) 0 0 0;
  font-family: var(--h6-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--h6-font-weight);
  font-style: var(--h6-font-style);
  line-height: var(--text-line-height);
  color: var(--h6-color);
}

h6 + p {
  display: inline;
}

h6 + *::after {
  content: '\0A';
  white-space: pre-wrap;
}

:not(p) + h6,
:not(p) + h6 + p {
  margin-top: var(--vertical-space-block);
}

p + h6,
p + h6 + p {
  margin-top: var(--vertical-space-paragraph);
}


/**
 * Blocks not in page header and footer.
 */

body > :not(header):not(footer) > * > * > blockquote,
body > :not(header):not(footer) > * > * > div,
body > :not(header):not(footer) > * > * > dl,
body > :not(header):not(footer) > * > * > figure,
body > :not(header):not(footer) > * > * > img,
body > :not(header):not(footer) > * > * > ol,
body > :not(header):not(footer) > * > * > pre,
body > :not(header):not(footer) > * > * > table,
body > :not(header):not(footer) > * > * > ul {
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: var(--block-indent);
}

body > :not(header):not(footer) > * > * > img,
body > :not(header):not(footer) > * > * > pre,
body > :not(header):not(footer) > * > * > table {
  box-shadow: var(--pre-shadow);
}


/**
 * Figure
 */

figure > * {
    margin: 0;
}

figure > figcaption {
  margin-top: var(--vertical-space-caption);
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-weight: var(--caption-font-weight);
  font-style: var(--caption-font-style);
} 


/**
 * Block quote
 */

blockquote {
  font-family: var(--blockquote-font-family);
  font-size: var(--blockquote-font-size);
  font-weight: var(--blockquote-font-weight);
  font-style: var(--blockquote-font-style);
  border-left: var(--blockquote-bar-width) var(--blockquote-bar) var(--blockquote-bar-color);
  padding-left: var(--blockquote-bar-indent);
  box-shadow: none;
}

blockquote p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

figure > blockquote + figcaption {
  margin-left: calc(var(--blockquote-bar-width) + var(--blockquote-bar-indent));
  margin-right: var(--block-indent);
}


/**
 *  Tables
 */

table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: var(--table-cell-gutter);
}

tr > th,
thead > tr > td {
  color: var(--table-heading-color);
  background-color: var(--table-heading-background-color);
  text-align: left;
  font-weight: inherit;
}

th,
td {
  font-size: var(--table-font-size);
  padding: var(--table-cell-padding-vertical) var(--table-cell-padding-horizontal);
}

tr:nth-child(odd) {
  color: var(--table-row-odd-color);
  background: var(--table-row-odd-background-color);
}

tr:nth-child(even) {
  color: var(--table-row-even-color);
  background: var(--table-row-even-background-color);
}

:not(thead) > tr:hover {
  color: var(--table-row-hovering-color);
  background-color: var(--table-row-hovering-background-color);
}

table caption {
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-weight: var(--caption-font-weight);
  font-style: var(--caption-font-style);
  text-align: left;
}

table caption:not(.underneath) {
  caption-side: top;
  margin: 0 var(--table-cell-gutter) var(--vertical-space-caption) var(--table-cell-gutter);
}

table caption.underneath {
  caption-side: bottom;
  margin: var(--vertical-space-caption) var(--table-cell-gutter) 0 var(--table-cell-gutter);
}


/**
 * Description list
 */

dl > dt {
  font-family: var(--dl-term-font-family);
  font-size: var(--dl-term-font-size);
  font-weight: var(--dl-term-font-weight);
  font-style: var(--dl-term-font-style);
  line-height: var(--dl-term-line-height);
  color: var(--dl-term-color);
}

dl > :not(dt) + dt {
  margin-top: var(--vertical-space-dl-term);
}

dl > dd {
  font-family: var(--dl-description-font-family);
  font-size: var(--dl-description-font-size);
  font-weight: var(--dl-description-font-weight);
  font-style: var(--dl-description-font-style);
  line-height: var(--dl-description-line-height);
  color: var(--dl-description-color);
  padding-left: var(--block-indent);
}

dl > dd:not(:first-child) {
  margin-top: var(--vertical-space-dl-description);
}


/**
 * Unordered and ordered lists
 */

 ul,
 ol {
  padding-inline-start: var(--box-padding);
  line-height: var(--text-line-height);
 }

 li ul,
 li ol {
  margin-top: var(--vertical-space-list-item);
  margin-left: var(--box-padding);
 }

ul.none,
ol.none,
li.none {
  list-style-type: none;
}

ul,
ul.disc,
li.disc {
  list-style-type: disc;
}

ul.circle,
li.circle {
  list-style-type: circle;
}

ul.square,
li.square {
  list-style-type: square;
}

ol,
ol.decimal,
li.decimal {
  list-style-type: decimal;
}

ol.decimal-leading-zero,
li.decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

ol.roman,
li.roman {
  list-style-type: lower-roman;
}

ol.roman-upper,
li.roman-upper {
  list-style-type: upper-roman;
}

ol.latin,
li.latin {
  list-style-type: lower-alpha;
}

ol.latin-upper,
li.latin-upper {
  list-style-type: upper-alpha;
}

ol.greek,
li.greek {
  list-style-type: lower-greek;
}


/**
 * Monospace text
 */

code,
kbd,
pre,
samp {
  font-family: var(--font-stack-mono);
  font-size: var(--font-size-smaller); /* Fakes font-size-adjust */  
  background-color: var(--monospace-background);
}


/**
 * Pre-box
 */

pre {
  padding: var(--pre-padding);
  white-space: pre-wrap;
}

pre code,
pre kbd,
pre pre,
pre samp {
  background-color: transparent;
  font-size: 100%;
}


/**
 *  Non-visible horizontal ruler. Use this to clear floats.
 */

hr {
  margin: calc(0px - var(--vertical-space-block)) 0 0 0;
  border: none;
  clear: both;
}


/**
 *  Horizontal ruler that is a single solid, dashed or dotten line, respectively, or a double solid line.
 */

hr.single,
hr.dashed,
hr.dotted,
hr.double {
  margin: 0;
}

hr.single {
  border-top: 1px solid var(--text-color);
}

hr.dashed {
  border-top: 2px dashed var(--text-color);
}

hr.dotted {
  border-top: 3px dotted var(--text-color);
}

hr.double {
  border-top: 5px double var(--text-color);
}


/**
 *  Dinkus with ***, ⁂ or ❦, respectively.
 */

hr.dinkus,
hr.asterism,
hr.fleuron {
  margin: 2em 0;
  text-align: center;
  line-height: 1px;
}

hr.dinkus::after {
  content: "***";
  display: inline;
}

hr.asterism::after {
  content: "\2042";
  display: inline;
}

hr.fleuron::after {
  content: "\2766";
  display: inline;
}


/**
 * Keybord input
 */

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
	color: #333;
	display: inline-block;
	font-size: .85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}


/**
 * Insertion and deletion
 */

del {
    background-color: #fbb;
}

ins {
    background-color: #d4fcbc;
}


/**
 * Abbreviations and acronyms
 */


abbr {
  cursor: help;
}