/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * All possible column combinations
 *
 *   <div class="col1">100%</div>
 *
 *   <div class="col2 width50 first">50%</div>
 *   <div class="col2 width50 last">50%</div>
 *
 *   <div class="col2 width25 first">25%</div>
 *   <div class="col2 width75 last">75%</div>
 *
 *   <div class="col2 width75 first">75%</div>
 *   <div class="col2 width25 last">25%</div>
 *
 *   <div class="col2 width33 first">33%</div>
 *   <div class="col2 width67 last">67%</div>
 *
 *   <div class="col2 width67 first">67%</div>
 *   <div class="col2 width33 last">33%</div>
 *
 *   <div class="col3 width33 first">33%</div>
 *   <div class="col3 width33">33%</div>
 *   <div class="col3 width33 last">33%</div>
 *
 *   <div class="col3 width25 first">25%</div>
 *   <div class="col3 width25">25%</div>
 *   <div class="col3 width50 last">50%</div>
 *
 *   <div class="col3 width25 first">25%</div>
 *   <div class="col3 width50">50%</div>
 *   <div class="col3 width25 last">25%</div>
 *
 *   <div class="col3 width50 first">50%</div>
 *   <div class="col3 width25">25%</div>
 *   <div class="col3 width25 last">25%</div>
 *
 *   <div class="col4 width25 first">25%</div>
 *   <div class="col4 width25">25%</div>
 *   <div class="col4 width25">25%</div>
 *   <div class="col4 width25 last">25%</div>
 */


.col1,
.col2,
.col3,
.col4 {
  box-sizing: border-box;
  float: left;
  margin: calc(var(--faux-column-space) / 2);
}

.col1 {
  margin-left: 0;
  margin-right: 0;
}

.col2.first,
.col3.first,
.col4.first {
  margin-left: 0;
}

.col2.last,
.col3.last,
.col4.last {
  margin-right: 0;
}

.col1 {
  width: 100%;
}

.col2.width25 {
  width: calc( ( 100% - var(--faux-column-space) ) * 1 / 4 )
}

.col2.width33 {
  width: calc( ( 100% - var(--faux-column-space) ) * 1 / 3 )
}

.col2.width50 {
  width: calc( ( 100% - var(--faux-column-space) ) * 1 / 2 )
}

.col2.width67 {
  width: calc( ( 100% - var(--faux-column-space) ) * 2 / 3 )
}

.col2.width75 {
  width: calc( ( 100% - var(--faux-column-space) ) * 3 / 4 )
}

.col3.width25 {
  width: calc( ( 100% - 2 * var(--faux-column-space) ) * 1 / 4 )
}

.col3.width33 {
  width: calc( ( 100% - 2 * var(--faux-column-space) ) * 1 / 3 )
}

.col3.width50 {
  width: calc( ( 100% - 2 * var(--faux-column-space) ) * 2 / 4 )
}

.col4.width25 {
  width: calc( ( 100% - 3 * var(--faux-column-space) ) * 1 / 4 )
}
