/**
 * Kntnt CSS Framework – Layout
 *
 * Download at https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: This stylesheet assumes that HTML documents follow the layout
 * described as comments in the code of layout-example.html.
 */


/**
 * Center content
 */

body > * > * {
	max-width: calc(var(--content-width) + 4 * var(--content-padding-desktop));
	margin-left: auto;
	margin-right: auto;
	padding: var(--content-padding-desktop) calc(2 * var(--content-padding-desktop));
}

@media (max-width: 1023px) {
	body > * > * {
		padding: var(--content-padding-tablet);
	}
}

@media (max-width: 767px) {
	body > * > * {
		padding: var(--content-padding-mobile);
	}
}


/**
 * Header and footer has less top and bottom padding, respectively,
 * and protrude on desktop.
 */

header > *,
footer > * {
	padding-left: var(--content-padding-desktop);
	padding-right: var(--content-padding-desktop);
}

@media (max-width: 1023px) {
	header > *,
	footer > * {
		padding-left: var(--content-padding-tablet);
		padding-right: var(--content-padding-tablet);
	}
}

@media (max-width: 767px) {
	header > *,
	footer > * {
		padding-left: var(--content-padding-mobile);
		padding-right: var(--content-padding-mobile);
	}
}

header > * {
	padding-top: 1rem;
}

footer > * {
	padding-bottom: 1rem;
}


/**
 * Hide empty parts of header and footer
 */

header :empty:not(img),
footer :empty:not(img) {
	display: none;
}


/**
 * Push footer to bottom.
 */

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > :nth-last-child(2) {
  flex: 1 0 auto;
}

body > footer {
  flex-shrink: 0;
}
