/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * Use <aside>…</aside> to poistion and style the wrapped content.
 * 
 * Positioning of <aside>…</aside> is determined by classes:
 *
 * |---------------------|------------------------------------------------|
 * | Class(es)           | Position                                       |
 * |---------------------|------------------------------------------------|
 * | (no class)          | Indented from column's left, taking up as much |
 * |                     | horizontal space as needed with respect to     |
 * |                     | indention from column's right.                 |
 * |                     |                                                |
 * | center              | Centered column's left and right indention.    |
 * |                     |                                                |
 * | wide                | Stretched as wide as the column                |
 * |                     |                                                |
 * | protrude wide       | Stretched as wide as header/footer             |
 * |                     |                                                |
 * | margin wide         | Stretched between viewport edges               |
 * |                     |                                                |
 * | left/right          | Aligned to left/right column edge with         |
 * |                     | half column width                              |
 * |                     |                                                |
 * | protrude left/right | Aligned to left/right header/footer edge with  |
 * |                     | half column width                              |
 * |                     |                                                |
 * | margin left/right   | Aligned to left/right viewport edge with 1rem  |
 * |                     | distance and third column width                |
 * ----------------------|-------------------------------------------------
 *
 * Styling of <aside>…</aside> is determined by it's content and classes:
 *
 *   <aside> wrapps <img> with or without wrapping <figure>:
 *     The image is positioned
 *
 *   <aside> wrapps <table> with or without wrapping <figure>:
 *     The table is positioned
 *
 *   <aside> wrapps <blockquote> with or without wrapping <figure>:
 *     The quote is positioned and shown as pull quote
 *
 *   <aside> wrapps content that doesn't match above criteria:
 *     The content is positioned
 *
 *   <aside class="panel"> wrapps any content:
 *     The content is positioned and shwon as a panel
 */


/**
 * Indented
 */

main > * > * > aside:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin) {
  display: inline-block;
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: var(--block-indent);
}


/**
 * Center
 */

main > * > * > aside.center {
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: auto;
  margin-right: auto;
}


/**
 * Wide
 */

main > * > * > aside.wide {
  width: 100%;
}


/**
 * Wide protrude
 */

main > * > * > aside.protrude:not(.left):not(.right) {  
  width: auto; /* If used with wide */
  max-width: none; /* If used with center */
  margin-left: calc(0px - var(--row-protruding));
  margin-right: calc(0px - var(--row-protruding));  
}


/**
 * Wide margin
 */

main > * > * > aside.wide.margin {
  max-width: 100vw;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}


/**
 * Left/right
 */

main > * > * > aside.left,
main > * > * > aside.right {
  width: calc(50% - var(--vertical-space-block) / 2);
  margin-top: calc(1.5 * var(--vertical-space-paragraph));  
  margin-bottom: calc(0.5 * var(--vertical-space-paragraph));
}

main > * > * > aside.left {
  float: left;
  margin-right: var(--vertical-space-block);
}

main > * > * > aside.right {
  float: right;
  margin-left: var(--vertical-space-block);
}

main > * > * > aside.left + p,
main > * > * > aside.right + p {
  margin-top: var(--vertical-space-paragraph);  
}


/**
 * Left/right protrude
 */

main > * > * > aside.left.protrude {
  margin-left: calc(0px - var(--row-protruding));
}

main > * > * > aside.right.protrude {
  margin-right: calc(0px - var(--row-protruding));
}


/**
 * Left/right margin
 */

main > * > * > aside.left.margin,
main > * > * > aside.right.margin {
  --padding: min(var(--vertical-space-block), var(--row-padding));
  width: calc(100% / 3);
}

main > * > * > aside.left.margin {
  margin-left: max(calc(-100% / 3 - var(--padding)), calc(50% - 50vw + var(--padding)));
}

main > * > * > aside.right.margin {
  margin-right: max(calc(-100% / 3 - var(--padding)), calc(50% - 50vw + var(--padding)));
}


/**
 * Panel
 */

main > * > * > aside.panel {
  padding: var(--box-padding-text);
  box-shadow: var(--shadow);
}

main > * > * > aside.panel > * {
  font-size: var(--font-size-smaller);
}

main > * > * > aside.wide.margin.panel {
    padding: var(--row-padding);
}

main > * > * > aside.wide.margin.panel > * {
  width: 100%;
  max-width: calc(var(--content-width) + 2 * var(--row-protruding));
  margin-left: auto;
  margin-right: auto;
}


/**
 * Image
 */

main > * > * > aside:not(.panel) > img,
main > * > * > aside:not(.panel) > figure > img {
  width: 100%
  height: auto;
}


/**
 * Quote
 */

main > * > * > aside:not(.panel) > blockquote,
main > * > * > aside:not(.panel) > figure > blockquote {
  margin: 0;
}

main > * > * > aside:not(.panel) > figure > blockquote + figcaption {
  margin-left: calc(var(--blockquote-bar-width) + var(--blockquote-bar-indent));
  margin-right: 0;
}

main > * > * > aside.wide.margin > blockquote,
main > * > * > aside.wide.margin > figure > blockquote {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: calc(100% - 2 * var(--block-indent));
}


/**
 * Table
 */

main > * > * > aside:not(.panel) > table,
main > * > * > aside:not(.panel) > figure > table {
  width: 100%;
  margin: 0;
}

main > * > * > aside.wide.margin > table,
main > * > * > aside.wide.margin > figure > table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: calc(100% - 2 * var(--block-indent));
}
