/* Kntnt CSS Framework – Layout
 *
 * This stylesheet requires following document structure:
 *
 * <body>
 *   <header>
 *     <div>
 *       Header content goes here. Notice that <header> must wrap one and only
 *       one element (e.g. <div>) that contains the actual header content.
 *     </div>
 *   </header>
 *   <section>
 *     <div>
 *       Between header and footer goes one or more <article>, <aside>, <nav>
 *       or <section>. Notice that each each sectioning element must wrap one
 *       and only one element (e.g. <div>) that contains the actual content.
 *     </div>  
 *   </section>
 *   <div><!-- Push footer to bottom --></div>
 *   <footer>
 *     <div>
 *       Footer content goes here. Notice that <footer> must wrap one and only
 *       one element (e.g. <div>) that contains the actual footer content.
 *     </div>
 *   </footer>
 * <body>
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/* Center content */

body > * {
	width: 100%;
}

body > * > * {
	height: 100%;
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 160px;
}

@media (max-width: 1023px) {
	body > * > * {
		padding: 40px;
	}
}

@media (max-width: 767px) {
	body > * > * {
		padding: 20px;
	}
}


/* Header and footer protrude on desktop. */

header > *,
footer > * {
	padding: 0 80px;
}

@media (max-width: 1023px) {
	header > *,
	footer > * {
		padding: 0 40px;
	}
}

@media (max-width: 767px) {
	header > *,
	footer > * {
		padding: 0 20px;
	}
}


/* Hide empty parts of header and footer */

header :empty:not(img),
footer :empty:not(img) {
	display: none;
}


/* Push footer to bottom. */

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

body > :nth-last-child(2) {
  flex: 1 0 auto;
}

body > footer {
  flex-shrink: 0;
}
