/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: Don't edit this file. Instead, alter values by overriding them
 * in your own stylesheet loaded after Kntnt CSS Framework.
*/


:root {

  /**
   * Below, desktop, table and mobile refers to folowing widths:
   *
   *   Desktop: 1024 px ≤ width
   *   Tablet:    768 px ≤ width < 1024 px 
   *   Mobile:             width <  768 px
   */


  /**
   *  Font size of the root element at different screen widths. 
   */

  --root-font-size-desktop: 20px;
  --root-font-size-tablet: 18px;
  --root-font-size-mobile: 16px;


  /**
   *  Maximum width of content within rows (e.g. max width of header, main and footer).
   */

  --content-width: 45rem;


  /**
   * Padding around content within rows (e.g. padding of header, main and footer)
   */

  --row-padding-desktop: 4rem;
  --row-padding-tablet: 2rem;
  --row-padding-mobile: 1rem;
  

  /**
   * Distance that protruding rows (e.g. header) protrudes with.
   */

  --row-protruding-desktop: 4rem;
  --row-protruding-tablet: 0rem;
  --row-protruding-mobile: 0rem;


   /**
    * Header vertical padding
    */

  --header-padding-vertical-desktop: var(--space-small);
  --header-padding-vertical-tablet: var(--space-xsmall);
  --header-padding-vertical-mobile: var(--space-xxsmall);


   /**
    * Footer vertical padding
    */

  --footer-padding-vertical-desktop: var(--space-small);
  --footer-padding-vertical-tablet: var(--space-xsmall);
  --footer-padding-vertical-mobile: var(--space-xxsmall);


  /**
   *  Defaults for text (directly or through inheritance from body) 
   */

  --text-font-family: var(--font-stack-sans);
  --text-font-size: var(--font-size-medium);
  --text-font-weight: var(--font-weight-normal);
  --text-font-style: normal;
  --text-background-color: var(--white);
  --text-color: var(--gray-ii);
  --text-distance-heading-above: var(--space-xsmall);
  --text-distance-paragraph: var(--space-medium);
  --text-distance-box: var(--space-large);


  /**
   *  Defaults for the topbar
   */

  --topbar-font-family: var(--font-stack-sans);
  --topbar-font-size: var(--font-size-small-2);
  --topbar-font-weight: var(--font-weight-normal);
  --topbar-font-style: normal;
  --topbar-color: var(--white);
  --topbar-background-color: var(--black);


  /**
   *  Defaults for the header
   */

  --header-font-family: var(--font-stack-sans);
  --header-font-size: var(--font-size-small-1);
  --header-font-weight: var(--font-weight-semi-bold);
  --header-font-style: normal;
  --header-color: var(--black);
  --header-background-color: var(--white);


  /**
   *  Defaults for the alertbar
   */

  --alertbar-font-family: var(--font-stack-sans);
  --alertbar-font-size: var(--font-size-small-1);
  --alertbar-font-weight: var(--font-weight-semi-bold);
  --alertbar-font-style: normal;
  --alertbar-color: var(--color-alert);
  --alertbar-background-color: var(--background-color-alert);


  /**
   *  Defaults for the footer message
   */

  --message-font-family: var(--font-stack-sans);
  --message-font-size: var(--font-size-medium);
  --message-font-weight: var(--font-weight-normal);
  --message-font-style: normal;
  --message-color: var(--white);
  --message-background-color: var(--gray-iv);


  /**
   *  Default for page footer 
   */

  --footer-font-family: var(--font-stack-sans);
  --footer-font-size: var(--font-size-small-1);
  --footer-font-weight: var(--font-weight-normal);
  --footer-font-style: normal;
  --footer-color: var(--black);
  --footer-background-color: var(--white);


  /**
   *  Defaults for the bar at the page bottom 
   */

  --bottombar-font-family: var(--font-stack-sans);
  --bottombar-font-size: var(--font-size-small-2);
  --bottombar-font-weight: var(--font-weight-normal);
  --bottombar-font-style: normal;
  --bottombar-color: var(--white);
  --bottombar-background-color: var(--black);


/**
 *  Defaults for lists, tables, images and similar contents forming a "box" inbetween two paragraphs 
 */

  --box-indent: var(--space-large);
  --box-distance-caption: var(--space-xsmall);


  /**
   *  Defaults for h1 
   *  <h1><span class="kicker">KICKER</span>HEADER<span clas="deck">DECK</span></h1> 
   */

  --h1-font-family: var(--font-stack-sans);
  --h1-font-size: var(--font-size-large-3);
  --h1-font-weight: var(--font-weight-semi-bold);
  --h1-font-style: normal;
  --h1-color: var(--gray-ii);
  

  /**
   *  Defaults for kicker (the superheading of h1) 
   *  <h1><span class="kicker">KICKER</span>HEADER<span clas="deck">DECK</span></h1> 
   */

  --h1-kicker-font-family: var(--font-stack-sans);
  --h1-kicker-font-size: var(--font-size-large-1);
  --h1-kicker-font-weight: var(--font-weight-semi-bold);
  --h1-kicker-font-style: normal;
  --h1-kicker-color: var(--gray-ii);


  /**
   *  Defaults for deck (the sunheading of h1) 
   *  <h1><span class="kicker">KICKER</span>HEADER<span clas="deck">DECK</span></h1> 
   */

  --h1-deck-font-family: var(--font-stack-sans);
  --h1-deck-font-size: var(--font-size-large-2);
  --h1-deck-font-weight: var(--font-weight-normal);
  --h1-deck-font-style: normal;
  --h1-deck-color: var(--gray-ii);


  /**
   *  Defaults for large h1 and its kick and deck are the same as for corrsponding normal verions except following 
   *  <h1 class="large"><span class="kicker">KICKER</span>HEADER<span clas="deck">DECK</span></h1> 
   */

  --h1-large-font-size: var(--font-size-large-5);
  --h1-large-color: var(--white);
  --h1-large-kicker-font-size: var(--font-size-large-3);
  --h1-large-kicker-color: var(--white);
  --h1-large-deck-font-size: var(--font-size-large-4);
  --h1-large-deck-color: var(--white);
   

  /**
   *  Defaults for h2 
   */

  --h2-font-family: var(--font-stack-sans);
  --h2-font-size: var(--font-size-large-2);
  --h2-font-weight: var(--font-weight-semi-bold);
  --h2-font-style: normal;
  --h2-color: var(--gray-ii);


  /**
   *  Defaults for h3 
   */

  --h3-font-family: var(--font-stack-sans);
  --h3-font-size: var(--font-size-large-1);
  --h3-font-weight: var(--font-weight-semi-bold);
  --h3-font-style: normal;
  --h3-color: var(--gray-ii);
    

  /**
   *  Defaults for h4 
   */

  --h4-font-family: var(--h3-font-family);
  --h4-font-size: var(--h3-font-size);
  --h4-font-weight: var(--text-font-weight);
  --h4-font-style: italic;
  --h4-color: var(--gray-ii);
  

  /**
   *  Defaults for h5 
   */

  --h5-font-family: var(--text-font-family);
  --h5-font-size: var(--text-font-size);
  --h5-font-weight: var(--font-weight-semi-bold);
  --h5-font-style: var(--text-font-style);
  --h5-color: var(--text-color);
  

  /**
   *  Defaults for h6 
   */

  --h6-font-family: var(--text-font-family);
  --h6-font-size: var(--text-font-size);
  --h6-font-weight: var(--font-weight-semi-bold);
  --h6-font-style: var(--text-font-style);
  --h6-color: var(--text-color);


  /**
   *  Defaults for table 
   */

  --table-font-family: var(--font-stack-sans);
  --table-font-size: var(--font-size-small-1);
  --table-font-weight: var(--font-weight-normal);
  --table-font-style: normal;
  --table-heading-color: var(--white);
  --table-heading-background-color: var(--gray-ii);
  --table-row-odd-color: var(--gray-ii);
  --table-row-odd-background-color: var(--almost-white);
  --table-row-even-color: var(--gray-ii);
  --table-row-even-background-color: var(--gray-x);
  --table-row-hovering-color: var(--gray-ii);
  --table-row-hovering-background-color: var(--gray-ix);
  --table-cell-gutter: var(--space-xxsmall);
  --table-cell-padding-vertical: var(--space-xsmall);
  --table-cell-padding-horizontal: var(--space-small);


  /**
   *  Default for caption 
   */

  --caption-font-family: var(--font-stack-sans);
  --caption-font-size: var(--font-size-small-2);
  --caption-font-weight: var(--font-weight-normal);
  --caption-font-style: normal;


  /**
   *  Defaults for callout, pullquote etc 
   */

  --callout-font-family: var(--font-stack-sans);
  --callout-font-size: var(--font-size-large-1);
  --callout-font-weight: var(--font-weight-light);
  --callout-font-style: normal;


  /**
   *  Defaults for headings in boxout etc 
   */

  --boxout-h2-font-family: var(--font-stack-sans);
  --boxout-h2-font-size: var(--font-size-large-1);
  --boxout-h2-font-weight: var(--font-weight-semi-bold);
  --boxout-h2-font-style: normal;


  /**
   *  Defaults for subheadings in boxout etc 
   */

  --boxout-h3-font-family: var(--font-stack-sans);
  --boxout-h3-font-size: var(--font-size-medium);
  --boxout-h3-font-weight: var(--font-weight-semi-bold);
  --boxout-h3-font-style: normal;


  /**
   *  Defaults for text in boxout etc 
   */

  --boxout-text-font-family: var(--font-stack-sans);
  --boxout-text-font-size: var(--font-size-small-1);
  --boxout-text-font-weight: var(--font-weight-normal);
  --boxout-text-font-style: normal;


  /**
   * Primary colors. The values are expected to be overriden.
   */
  --color-1-heavy: #00FF2A;
  --color-1-hint: #F7FFF9;
  --color-1-sheer: #F0FFF2;
  --color-1-pastel: #E1FAE5;
  --color-1-pale: #C8FAD0;
  --color-1-subdued: #78D688;
  --color-1-lucid: #00D624;
  --color-1-neutral: #3FCC57; 
  --color-1-gloomy: #309B42;
  --color-1-dark: #20662B;
  --color-1-dim: #103316;

  /**
   * Secondary colors. The values are expected to be overriden.
   */
  --color-2-heavy: #FF6900;
  --color-2-hint: #FFFBF7;
  --color-2-sheer: #FFF6F0;
  --color-2-pastel: #FAEBE1;
  --color-2-pale: #FADDC8;
  --color-2-subdued: #D69F78;
  --color-2-lucid: #D65900;
  --color-2-neutral: #CC7A3F; 
  --color-2-gloomy: #9C5D30;
  --color-2-dark: #663D20;
  --color-2-dim: #331E10;

  /**
   * Tertiary colors. The values are expected to be overriden.
   */
  --color-2-heavy: #00D4FF;
  --color-2-hint: #F7FEFF;
  --color-2-sheer: #F0FCFF;
  --color-2-pastel: #E1F6FA;
  --color-2-pale: #C8F2FA;
  --color-2-subdued: #77C5D5;
  --color-2-lucid: #3FB5CC;
  --color-2-neutral: #3FB5CC; 
  --color-2-gloomy: #308A9C;
  --color-2-dark: #205A66;
  --color-2-dim: #102D33;


}
