/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: This stylesheet assumes that HTML documents follow the layout
 * described in the HTML code of layout-example.html included with this file.
 */


/**
 * Center content
 */

body > header > * > * ,
body > footer > * > * ,
body > :not(header):not(footer) > * {
  --padding-horizontal: calc(var(--row-padding) + var(--row-protruding));
  width: 100%;
  max-width: calc(var(--content-width) + 2 * var(--padding-horizontal));
  margin-left: auto;
  margin-right: auto;
  padding: var(--row-padding) var(--padding-horizontal);
}


/**
 * Fix the height for the top bar and heading.
 */

body > header {
  --topbar-height: calc(var(--topbar-font-size) + 2 * var(--topbar-padding-vertical));
  --header-height: calc(var(--header-content-height-max) + 2 * var(--header-padding-vertical));
}

body > header > * {
  display: flex;
  align-items: center;
}

body > header > :nth-child(1) {
  height: var(--topbar-height);
}

body > header > :nth-child(2) {
  height: var(--header-height);
}

body > header > * > * {
  overflow: hidden;
}


/**
 * Header and footer section has less vertical padding than body sections
 * and protrude on desktop.
 */

body > header > * > * {
  padding: var(--header-shrunken-padding-vertical) var(--row-padding);
}

body > footer > * > * {
  padding: var(--footer-padding-vertical) var(--row-padding);
}



/**
 * Sticky header
 */

@media (min-width: 1024px) {

  body > header.sticky,
  body > header.sticky-desktop {
    position: sticky;
    top: calc(var(--header-content-height-max) + 2 * var(--header-shrunken-padding-vertical) - var(--topbar-height) - var(--header-height));
  }

  body > header.sticky > :nth-child(2) > *,
  body > header.sticky-desktop > :nth-child(2) > * {
    position: sticky;
    top: 0;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  body > header.sticky,
  body > header.sticky-tablet {
    position: sticky;
    top: calc(var(--header-content-height-max) + 2 * var(--header-shrunken-padding-vertical) - var(--topbar-height) - var(--header-height));
  }

  body > header.sticky > :nth-child(2) > *,
  body > header.sticky-tablet > :nth-child(2) > * {
    position: sticky;
    top: 0;
  }

}

@media (max-width: 767px) {

  body > header.sticky,
  body > header.sticky-mobile {
    position: sticky;
    top: calc(var(--header-content-height-max) + 2 * var(--header-shrunken-padding-vertical) - var(--topbar-height) - var(--header-height));
  }

  body > header.sticky > :nth-child(2) > *,
  body > header.sticky-mobile > :nth-child(2) > * {
    position: sticky;
    top: 0;
  }

}


/**
 * Push footer to bottom.
 */

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > :nth-last-child(2) {
  flex: 1 0 auto;
}

body > footer {
  flex-shrink: 0;
}
