/* Kntnt CSS Framework – Utility classes
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/* Floats and clearfixes */

.wrap-float {
  clear: none !important;
}

.no-wrap-float {
  clear: both !important;
}


/* Center children horizontally or vertically, respectively. */

.center-children-horizontally,
.center-children-vertically {
  display: flex;  
}

.center-children-horizontally {
  justify-content: center;    
}

.center-children-vertically {
  align-items: center;  
}


/* Align horizontally */

.left,
.right {
  width: 33%;
}

.center {
  width: 67%;
}

.left,
.alignleft {
  float: left;
}

.right,
.alignright {
  float:right;
}

.center,
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

not(table).center,
not(table).aligncenter {
  display: block;
}

.indent {
  margin-left: var(--box-indent);
  width: auto;
}


/* Set width */

.wide,
.width-100 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.width-67 {
  width: 67%;
}

.width-50 {
  width: 50%;
}

.width-33 {
  width: 33%;
}


/* Children and descendants, respectively, inherits this elemenet's color */

.children-inherit-color > :not(:hover):not(:focus):not(:active),
.descendants-inherit-color :not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/* Box-shadow */

.shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);  
}

.no-shadow {
  box-shadow: none;
}



/* Tranistion */

.transition {
  transition: all 400ms ease-in-out;
}


/* Debug tool: Outline elements */

.debug {
  outline: 1px solid red;
}