/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/**
 * Floats and clearfixes
 */

.wrap-float {
  clear: none !important;
}

.no-wrap-float {
  clear: both !important;
}


/**
 *  Center children horizontally or vertically, respectively. 
 */

.center-children-horizontally,
.center-children-vertically {
  display: flex;  
}

.center-children-horizontally {
  justify-content: center;    
}

.center-children-vertically {
  align-items: center;  
}


/**
 *  Align horizontally 
 */

.left,
.right {
  width: 33%;
}

.center {
  width: 67%;
}

.left,
.alignleft {
  float: left;
}

.right,
.alignright {
  float:right;
}

.center,
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

not(table).center,
not(table).aligncenter {
  display: block;
}

.indent {
  margin-left: var(--box-indent);
  width: auto;
}


/**
 *  Set width 
 */

.wide,
.width-100 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.width-67 {
  width: 67%;
}

.width-50 {
  width: 50%;
}

.width-33 {
  width: 33%;
}


/**
 *  Children and descendants, respectively, inherits this elemenet's color 
 */

.children-inherit-color > :not(:hover):not(:focus):not(:active),
.descendants-inherit-color :not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 * Colors
 */
 
.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.gray-dark {
  color: var(--gray-ii);
}

.gray-light {
  color: var(--gray-ix);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary-light {
  color: var(--color-primary-light);  
}

.error,
.color-alert {
  color: var(--color-alert);
}

.color-alert-dark {
  color: var(--color-alert-dark);
}

.color-alert-light {
  color: var(--color-alert-light);  
}


/**
 * Panels
 */

.panel a {
  color: inherit;
  text-decoration-color: inherit;
}

.panel.gray-dark {
  background-color: var(--gray-ii);
  color: var(--white);
}

.panel.gray-light {
  background-color: var(--gray-ix);
  color: var(--black);
}

.panel.color-primary-dark {
  background-color: var(--color-primary-dark);
  color: var(--white);
}

.panel.color-primary-light {
  background-color: var(--color-primary-light);
  color: var(--black);
}

.panel.color-alert-dark {
  background-color: var(--color-alert-dark);
  color: var(--white);  
}

.panel.color-alert-light {
  background-color: var(--color-alert-light);
  color: var(--white);  
}


/**
 *  Box-shadow 
 */

.shadow {
  box-shadow: var(--shadow);
}

.no-shadow {
  box-shadow: none;
}



/**
 *  Tranistion 
 */

.transition {
  transition: all var(--swift) ease-in-out;
}


/**
 *  Debug tool: Outline elements 
 */

.debug {
  outline: 1px solid red;
}






