/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: Kntnt CSS Framwork (KCF) requires that Nicolas Gallagher's
 * normalize.css (see https://necolas.github.io/normalize.css/) is loaed
 * before any of the KCF files. A copy is included with the example.
 * This stylesheet only provides additional normalization needed by KCF.
 */



/**
 *  Responsive fonts
 */

:root {
  font-size: var(--root-font-size);
}


/**
 *  Include border and padding in claculation of width and height
 */

:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}


/**
 * Required for some thngs to work, including "sticky header"
 * and "push footer to bottom".
 */
 
html,
body {
  height: 100%;
  overflow: auto;
}


/**
 *  Consistent vertical spacing
 */

blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul,
video {
  margin: 0;
}

blockquote + *,
dl + *,
figure + *,
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
hr + *,
ol + *,
p + *,
pre + *,
table + *,
ul + *,
video + * {
  margin-top: var(--text-distance-box);
}

p + p {
  margin-top: var(--text-distance-paragraph);
}

h1 + p {
  margin-top: var(--h1-distance-paragraph);  
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: var(--heading-distance-paragraph);
}


/**
 *  Fluid images.
 */

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}


/*
 * Don't style content within <address>…</address>.
 */

address {
  font-style: normal;
}


/**
 * Nicolas Gallagher's normalize.css (which must should be loaded before this
 * file) sets <small> to be 20 % smaller than the font size. For symmetry, we
 * set <big> to be 20 % larger.
 */
big {
  font-size: 1.2em;
}


/**
 * Dont render an outlinr around an object with focus.
 */

:focus {
  outline: none;
}


/**
 *  Use smooth scroll for jumps on pages
 */

html:focus-within {
  scroll-behavior: smooth;
}


/**
 * Enable kerning and ligatures.
 */
body {
    text-rendering: optimizeLegibility;
}


/**
 *  Respect users requested to minimize the amount of animation or motion
 */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0. !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0 !important;
    scroll-behavior: auto !important;
  }
}