/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: This stylesheet assumes that HTML documents follow the layout
 * described in the HTML code of layout-example.html.
 */


/**
 *  Body background and font size, color and rendering. 
 */

body {
  color: var(--text-color);
  background-color: var(--text-background-color);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
}


/**
 * Style topbar
 */

body > header > :nth-child(1) {
  color: var(--topbar-color);
  background-color: var(--topbar-background-color);
  font-family: var(--topbar-font-family);
  font-size: var(--topbar-font-size);
  font-weight: var(--topbar-font-weight);
  font-style: var(--topbar-font-style);
}


/**
 * Style header
 */

body > header > :nth-child(2) {
  color: var(--header-color);
  background-color: var(--header-background-color);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);
}


/**
 * Sticky header
 */

body > header {
  --header-content-height-max: var(--header-content-height-max-desktop);
  --header-padding-vertical: var(--header-padding-vertical-desktop);
  --header-padding-vertical-extra: var(--header-padding-vertical-extra-desktop);
}

@media (max-width: 1023px) {
  body > header {
  --header-content-height-max: var(--header-content-height-max-tablet);
  --header-padding-vertical: var(--header-padding-vertical-tablet);
  --header-padding-vertical-extra: var(--header-padding-vertical-extra-tablet);
  }
}

@media (max-width: 767px) {
  body > header {
  --header-content-height-max: var(--header-content-height-max-mobile);
  --header-padding-vertical: var(--header-padding-vertical-mobile);
  --header-padding-vertical-extra: var(--header-padding-vertical-extra-mobile);
  }
}

body > header {
  --topbar-height: calc(var(--topbar-font-size) + 2 * var(--topbar-padding-vertical));
  --header-shrunk-height: calc(var(--header-content-height-max) + 2 * var(--header-padding-vertical));
  --header-height: calc(var(--header-shrunk-height) + 2 * var(--header-padding-vertical-extra));
}

body > header.sticky {
  position: sticky;
  top: calc(0px - var(--topbar-height) - (var(--header-height) - var(--header-shrunk-height)));
}

body > header.sticky > :nth-child(1) {
  display: flex;
  align-items: center;
  height: var(--topbar-height);
}

body > header.sticky > :nth-child(1) > * {
  overflow-y: hidden;
}

body > header.sticky > :nth-child(2) {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

body > header.sticky > :nth-child(2) > * {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-shrunk-height);
  overflow-y: hidden;
}


/**
 * TODO: STYLE FOOTER
 */


/**
 * Unobtrusive links in header and footer sections, except alert.
 */

body > header > * > * a,
body > header > * > * a:hover,
body > header > * > * a:focus,
body > header > * > * a:active,
body > footer > * > * a,
body > footer > * > * a:hover,
body > footer > * > * a:focus,
body > footer > * > * a:active {
	color: inherit;
}

body > header > :nth-child(2) > * a,
body > header > :nth-child(2) > * a:hover
body > header > :nth-child(2) > * a:focus
body > header > :nth-child(2) > * a:active {
  text-decoration-color: inherit;
  transition: none;
}