/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/**
 * Paragraphs
 */

p {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  line-height: var(--text-line-height);
}

/**
 * Links
 */

a {
  color: var(--link-color);
  text-decoration-color: transparent;
  transition-property: color, text-decoration-color;
  transition-duration: var(--swiftly);
  transition-timing-function: ease;
 }

a:hover,
a:focus,
a:active {
  color: var(--link-hover-color);
  text-decoration-color: inherit;
}


/**
 *  Main header on page
 */

h1 {
  color: var(--h1-color);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  font-style: var(--h1-font-style);
  line-height: var(--h1-line-height);
}


/**
 *  Subheading in text
 */

h2 {
  color: var(--h2-color);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  font-style: var(--h2-font-style);
  line-height: var(--h2-line-height);
}


/**
 *  Sub-subheading in text
 */

h3 {
  color: var(--h3-color);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
  line-height: var(--h3-line-height);
}


/**
 *  Sub-subheading in text, alternative style
 */

h4 {
  color: var(--h4-color);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  font-style: var(--h4-font-style);
  line-height: var(--h4-line-height);
}


/**
 *  Short text used like a heading, e.g. a question in a Q&A-article.
 */

h5 {
  color: var(--h5-color);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  font-style: var(--h5-font-style);
  line-height: var(--h5-line-height);
}


/**
 *  Run-in header
 */

h6 {
  display: inline-block;
  margin: var(--vertical-space-paragraph) 0 0 0;
  font-family: var(--h6-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--h6-font-weight);
  font-style: var(--h6-font-style);
  line-height: var(--text-line-height);
  color: var(--h6-color);
}

h6 + p {
  display: inline;
}

h6 + *::after {
  content: '\0A';
  white-space: pre-wrap;
}

:not(p) + h6,
:not(p) + h6 + p {
  margin-top: var(--vertical-space-block);
}

p + h6,
p + h6 + p {
  margin-top: var(--vertical-space-paragraph);
}


/**
 * Block quote
 */

blockquote {
  font-family: var(--blockquote-font-family);
  font-size: var(--blockquote-font-size);
  font-weight: var(--blockquote-font-weight);
  font-style: var(--blockquote-font-style);
  margin-left: var(--block-indent);
  margin-right: var(--block-indent);
  border-left: var(--blockquote-bar-width) var(--blockquote-bar) var(--blockquote-bar-color);
  padding-left: var(--blockquote-bar-indent);
}

blockquote p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

figure > blockquote + figcaption {
  margin-left: calc(var(--block-indent) + var(--blockquote-bar-width) + var(--blockquote-bar-indent));
  margin-right: var(--block-indent);
}


/**
 * Figures
 */

figure > figcaption {
  margin-top: var(--vertical-space-caption);
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-weight: var(--caption-font-weight);
  font-style: var(--caption-font-style);
} 



/**
 * Images
 */

img {
  box-shadow: var(--shadow);
}


/**
 *  Tables
 */

table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: var(--table-cell-gutter);
  margin: var(--vertical-space-block);
  box-shadow: var(--shadow);
}

table.alignright,
table.alignleft {
  width: 50%;
}

tr > th,
thead > tr > td {
  color: var(--table-heading-color);
  background-color: var(--table-heading-background-color);
  text-align: left;
  font-weight: inherit;
}

th,
td {
  font-size: var(--table-font-size);
  padding: var(--table-cell-padding-vertical) var(--table-cell-padding-horizontal);
}

tr:nth-child(odd) {
  color: var(--table-row-odd-color);
  background: var(--table-row-odd-background-color);
}

tr:nth-child(even) {
  color: var(--table-row-even-color);
  background: var(--table-row-even-background-color);
}

:not(thead) > tr:hover {
  color: var(--table-row-hovering-color);
  background-color: var(--table-row-hovering-background-color);
}

table caption {
  margin: 0 var(--table-cell-gutter) var(--vertical-space-caption) var(--table-cell-gutter);
}


/**
 *  Footnotes
 */

.single-content sup[class*=footnote],
.footnote-line > span:first-child {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

.footnote-line {
  margin-top: var(--space-large);
  padding-top: var(--space-medium);
  border-top: 1px solid var(--text-color);
  font-size: 0.8em;
}

.footnote-line + .footnote-line {
  margin-top: 1em;
  border-top: none;
}

.footnote-line > span:first-child {
  margin-right: 0.5em;
}

.footnote-line > a:last-child {
  margin-left: 0.5em;
  text-decoration: none;
}


/**
 * Aside within article.
 */



/**
 *  Non-visible horizontal ruler. Use this to clear floats.
 */

hr {
  margin: calc(0px - var(--vertical-space-block)) 0 0 0;
  border: none;
  clear: both;
}


/**
 *  Horizontal ruler that is a single solid, dashed or dotten line, respectively, or a double solid line.
 */

hr.single,
hr.dashed,
hr.dotted,
hr.double {
  margin: 0;
}

hr.single {
  border-top: 1px solid var(--text-color);
}

hr.dashed {
  border-top: 2px dashed var(--text-color);
}

hr.dotted {
  border-top: 3px dotted var(--text-color);
}

hr.double {
  border-top: 5px double var(--text-color);
}


/**
 *  Dinkus with ***, ⁂ or ❦, respectively.
 */

hr.dinkus,
hr.asterism,
hr.fleuron {
  margin: 2em 0;
  text-align: center;
  line-height: 1px;
}

hr.dinkus::after {
  content: "***";
  display: inline;
}

hr.asterism::after {
  content: "\2042";
  display: inline;
}

hr.fleuron::after {
  content: "\2766";
  display: inline;
}


/**
 * Monospace text
 */

code,
kbd,
pre,
samp {
  font-family: var(--font-stack-mono);
  font-size: var(--font-size-smaller); /* Fakes font-size-adjust */  
}

code,
kbd,
samp {
  background-color: var(--monospace-background);
}

pre {
  padding: var(--pre-padding);
  background-color: var(--pre-background-color);
  white-space: pre-wrap;
}

pre code,
pre kbd,
pre pre,
pre samp {
  font-size: 100%;
}