/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */



/**
 * Links
 */

a {
  color: var(--link-color);
  text-decoration-color: transparent;
  transition-property: color, text-decoration-color;
  transition-duration: var(--swiftly);
  transition-timing-function: ease;
  : text-decoration-color var(--swiftly) ease-in-out;
 }

a:hover,
a:focus,
a:active {
  color: var(--link-hover-color);
  text-decoration-color: inherit;
}


/**
 *  Headings
 */

h1 {
  color: var(--h1-color);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  font-style: var(--h1-font-style);
}

h2 {
  color: var(--h2-color);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  font-style: var(--h2-font-style);
}

h3 {
  color: var(--h3-color);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
}

h4 {
  color: var(--h4-color);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  font-style: var(--h4-font-style);
}

h5 {
  color: var(--h5-color);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  font-style: var(--h5-font-style);
}

h6 {
  color: var(--h6-color);
  font-family: var(--h6-font-family);
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
  font-style: var(--h6-font-style);
}


/**
 *  Run-in header
 */

h6 {
  display: inline-block;
  margin: var(--text-distance-paragraph) 0 0 0;
  font-size: var(--text-font-size);
  font-weight: bold;
}

h6 + p {
  display: inline;
}

h6 + *::after {
  content: '\0A';
  white-space: pre-wrap;
}


/**
 * Images
 */

 img {
  box-shadow: var(--shadow);
 }


/**
 *  Tables
 */

table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: var(--table-cell-gutter);
  margin: var(--text-distance-box);
  box-shadow: var(--shadow);
}

table.alignright,
table.alignleft {
  width: 50%;
}

tr > th,
thead > tr > td {
  color: var(--table-heading-color);
  background-color: var(--table-heading-background-color);
  text-align: left;
  font-weight: inherit;
}

th,
td {
  font-size: var(--font-size-table);
  padding: var(--table-cell-padding-vertical) var(--table-cell-padding-horizontal);
}

tr:nth-child(odd) {
  color: var(--table-row-odd-color);
  background: var(--table-row-odd-background-color);
}

tr:nth-child(even) {
  color: var(--table-row-even-color);
  background: var(--table-row-even-background-color);
}

:not(thead) > tr:hover {
  color: var(--table-row-hovering-color);
  background-color: var(--table-row-hovering-background-color);
}


/**
 *  Figure and table captions
 */

.wp-caption .wp-caption-text,
table caption {
  text-align: left;
  font-size: var(--font-size-caption);
}

.wp-caption .wp-caption-text {
  margin: var(--box-distance-caption) 0 0 0;
}

table caption {
  margin: 0 var(--table-cell-gutter) var(--box-distance-caption) var(--table-cell-gutter);
}


/**
 *  Footnotes
 */

.single-content sup[class*=footnote],
.footnote-line > span:first-child {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

.footnote-line {
  margin-top: var(--space-large);
  padding-top: var(--space-medium);
  border-top: 1px solid var(--text-color);
  font-size: 0.8em;
}

.footnote-line + .footnote-line {
  margin-top: 1em;
  border-top: none;
}

.footnote-line > span:first-child {
  margin-right: 0.5em;
}

.footnote-line > a:last-child {
  margin-left: 0.5em;
  text-decoration: none;
}


/**
 *  Non-visible horizontal ruler. Use this to clear floats.
 */

hr {
  margin: calc(0px - var(--text-distance-box)) 0 0 0;
  border: none;
  clear: both;
}


/**
 *  Horizontal ruler that is a single solid, dashed or dotten line, respectively, or a double solid line.
 */

hr.single,
hr.dashed,
hr.dotted,
hr.double {
  margin: 0;
}

hr.single {
  border-top: 1px solid var(--text-color);
}

hr.dashed {
  border-top: 2px dashed var(--text-color);
}

hr.dotted {
  border-top: 3px dotted var(--text-color);
}

hr.double {
  border-top: 5px double var(--text-color);
}


/**
 *  Dinkus with ***, ⁂ or ❦, respectively.
 */

hr.dinkus,
hr.asterism,
hr.fleuron {
  margin: 2em 0;
  text-align: center;
  line-height: 1px;
}

hr.dinkus::after {
  content: "***";
  display: inline;
}

hr.asterism::after {
  content: "\2042";
  display: inline;
}

hr.fleuron::after {
  content: "\2766";
  display: inline;
}
