/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * IMPORTANT: This stylesheet assumes that HTML documents follow the layout
 * described in the README file. See https://github.com/Kntnt/kntnt-css-framework
 */


/**
 * A page is build of "super-rows" (e.g. <header>, main>, <aside> and
 * <footer>), each with one or more "rows" (e.g. "topbar" and "header").
 * By default, both super-rows and rows stack on each other without space
 * between.
 */

body > *,
body > * > * {
  margin-top: 0;
}


/**
 * Center content
 */

body > * > * > * {
  --padding-horizontal: calc(var(--row-padding) + var(--row-protruding));
  width: 100%;
  max-width: calc(var(--content-width) + 2 * var(--padding-horizontal));
  margin-left: auto;
  margin-right: auto;
  padding: var(--row-padding) var(--padding-horizontal);
}


/**
 * Fixate the height for the top bar and header.
 */

body > header {
  --topbar-height: calc(var(--topbar-font-size) + 2 * var(--topbar-padding-vertical));
  --header-height: calc(var(--header-content-height-max) + 2 * var(--header-padding-vertical));
  z-index: 9999;
}

body > header > * {
  display: flex;
  align-items: center;
}

body > header > :first-child {
  height: var(--topbar-height);
}

body > header > :last-child {
  height: var(--header-height);
}

body > header > * > * {
  overflow: hidden;
}


/**
 * Topbar, header and bottombar (but not footer) has less vertical padding
 * than other sections.
 */

body > header > :first-child > * {
  padding-top: var(--topbar-padding-vertical);
  padding-bottom: var(--topbar-padding-vertical);
}

body > header > :last-child > * {
  padding-top: var(--header-shrunken-padding-vertical);
  padding-bottom: var(--header-shrunken-padding-vertical);
}

body > footer > :last-child > * {
  padding-top: var(--bottombar-padding-vertical);
  padding-bottom: var(--bottombar-padding-vertical);
}


/**
 * Header and footer protrude on desktop.
 */

body > header > * > *,
body > footer > * > * {
  padding-left: var(--row-padding);
  padding-right: var(--row-padding);
}


/**
 * Sticky header
 */

@media (min-width: 1024px) {

  body > header.sticky,
  body > header.sticky-desktop {
    position: sticky;
    top: calc(var(--header-content-height-max) + 2 * var(--header-shrunken-padding-vertical) - var(--topbar-height) - var(--header-height));
  }

  body > header.sticky > :last-child > *,
  body > header.sticky-desktop > :last-child > * {
    position: sticky;
    top: 0;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  body > header.sticky,
  body > header.sticky-tablet {
    position: sticky;
    top: calc(var(--header-content-height-max) + 2 * var(--header-shrunken-padding-vertical) - var(--topbar-height) - var(--header-height));
  }

  body > header.sticky > :last-child > *,
  body > header.sticky-tablet > :last-child > * {
    position: sticky;
    top: 0;
  }

}

@media (max-width: 767px) {

  body > header.sticky,
  body > header.sticky-mobile {
    position: sticky;
    top: calc(var(--header-content-height-max) + 2 * var(--header-shrunken-padding-vertical) - var(--topbar-height) - var(--header-height));
  }

  body > header.sticky > :last-child > *,
  body > header.sticky-mobile > :last-child > * {
    position: sticky;
    top: 0;
  }

}


/**
 * Push footer to bottom.
 */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > :nth-last-child(2) {
  flex: 1 0 auto;
}

body > footer {
  flex-shrink: 0;
}


/**
 * Disable empty rows in header and footer.
 */ 

body > header > :first-child: > :empty,
body > header > :last-child: > :empty,
body > footer > :first-child: > :empty,
body > footer > :last-child: > :empty {
  display: none;
}