/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * Position <img>, <pre>, <table>, <div>, <figure> and <aside>
 * with following classes:
 *
 * |---------------------|------------------------------------------------|
 * | Class(es)           | Position                                       |
 * |---------------------|------------------------------------------------|
 * | (no class)          | Indented from column's left, taking up as much |
 * |                     | horizontal space as needed with respect to     |
 * |                     | indention from column's right.                 |
 * |                     |                                                |
 * | center              | Centered column's left and right indention.    |
 * |                     |                                                |
 * | wide                | Stretched as wide as the column                |
 * |                     |                                                |
 * | protrude wide       | Stretched as wide as header/footer             |
 * |                     |                                                |
 * | margin wide         | Stretched between viewport edges               |
 * |                     |                                                |
 * | left/right          | Aligned to left/right column edge with         |
 * |                     | half column width                              |
 * |                     |                                                |
 * | protrude left/right | Aligned to left/right header/footer edge with  |
 * |                     | half column width                              |
 * |                     |                                                |
 * | margin left/right   | Aligned to left/right viewport edge with 1rem  |
 * |                     | distance and third column width                |
 * ----------------------|-------------------------------------------------
 */


/**
 * Indented
 */

/**
 * Blocks not in page header and footer.
 */

body > :not(header):not(footer) > * > * > blockquote:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > div:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > dl:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > figure:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > img:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > ol:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > pre:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > table:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > ul:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin) {
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: var(--block-indent);
}


/**
 * Center
 */

body > :not(header):not(footer) > * > * > img.center,
body > :not(header):not(footer) > * > * > pre.center,
body > :not(header):not(footer) > * > * > table.center,
body > :not(header):not(footer) > * > * > div.center,
body > :not(header):not(footer) > * > * > figure.center,
body > :not(header):not(footer) > * > * > aside.center {
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: auto;
  margin-right: auto;
}


/**
 * Wide
 */

body > :not(header):not(footer) > * > * > img.wide,
body > :not(header):not(footer) > * > * > pre.wide,
body > :not(header):not(footer) > * > * > table.wide,
body > :not(header):not(footer) > * > * > div.wide,
body > :not(header):not(footer) > * > * > figure.wide,
body > :not(header):not(footer) > * > * > aside.wide {
  width: 100%;
}


/**
 * Wide protrude
 */

body > :not(header):not(footer) > * > * > img.protrude:not(.left):not(.right),
body > :not(header):not(footer) > * > * > pre.protrude:not(.left):not(.right),
body > :not(header):not(footer) > * > * > table.protrude:not(.left):not(.right),
body > :not(header):not(footer) > * > * > div.protrude:not(.left):not(.right),
body > :not(header):not(footer) > * > * > figure.protrude:not(.left):not(.right),
body > :not(header):not(footer) > * > * > aside.protrude:not(.left):not(.right) {  
  width: auto; /* If used with wide */
  max-width: none; /* If used with center */
  margin-left: calc(0px - var(--row-protruding));
  margin-right: calc(0px - var(--row-protruding));  
}


/**
 * Wide margin
 */

body > :not(header):not(footer) > * > * > img.wide.margin,
body > :not(header):not(footer) > * > * > pre.wide.margin,
body > :not(header):not(footer) > * > * > table.wide.margin,
body > :not(header):not(footer) > * > * > div.wide.margin,
body > :not(header):not(footer) > * > * > figure.wide.margin,
body > :not(header):not(footer) > * > * > aside.wide.margin {
  max-width: 100vw;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}


/**
 * Left/right
 */

body > :not(header):not(footer) > * > * > img.left,
body > :not(header):not(footer) > * > * > pre.left,
body > :not(header):not(footer) > * > * > table.left,
body > :not(header):not(footer) > * > * > div.left,
body > :not(header):not(footer) > * > * > figure.left,
body > :not(header):not(footer) > * > * > aside.left,
body > :not(header):not(footer) > * > * > img.right,
body > :not(header):not(footer) > * > * > pre.right,
body > :not(header):not(footer) > * > * > table.right,
body > :not(header):not(footer) > * > * > div.right,
body > :not(header):not(footer) > * > * > figure.right,
body > :not(header):not(footer) > * > * > aside.right {
  width: calc(50% - var(--vertical-space-block) / 2);
  margin-top: calc(1.5 * var(--vertical-space-paragraph));  
  margin-bottom: calc(0.5 * var(--vertical-space-paragraph));
}

body > :not(header):not(footer) > * > * > img.left,
body > :not(header):not(footer) > * > * > pre.left,
body > :not(header):not(footer) > * > * > table.left,
body > :not(header):not(footer) > * > * > div.left,
body > :not(header):not(footer) > * > * > figure.left,
body > :not(header):not(footer) > * > * > aside.left {
  float: left;
  margin-right: var(--vertical-space-block);
}

body > :not(header):not(footer) > * > * > img.right,
body > :not(header):not(footer) > * > * > pre.right,
body > :not(header):not(footer) > * > * > table.right,
body > :not(header):not(footer) > * > * > div.right,
body > :not(header):not(footer) > * > * > figure.right,
body > :not(header):not(footer) > * > * > aside.right {
  float: right;
  margin-left: var(--vertical-space-block);
}

body > :not(header):not(footer) > * > * > img.left + p,
body > :not(header):not(footer) > * > * > pre.left + p,
body > :not(header):not(footer) > * > * > table.left + p,
body > :not(header):not(footer) > * > * > div.left + p,
body > :not(header):not(footer) > * > * > figure.left + p,
body > :not(header):not(footer) > * > * > aside.left + p,
body > :not(header):not(footer) > * > * > img.right + p,
body > :not(header):not(footer) > * > * > pre.right + p,
body > :not(header):not(footer) > * > * > table.right + p,
body > :not(header):not(footer) > * > * > div.right + p,
body > :not(header):not(footer) > * > * > figure.right + p,
body > :not(header):not(footer) > * > * > aside.right + p {
  margin-top: var(--vertical-space-paragraph);  
}


/**
 * Left/right protrude
 */

body > :not(header):not(footer) > * > * > img.left.protrude,
body > :not(header):not(footer) > * > * > pre.left.protrude,
body > :not(header):not(footer) > * > * > table.left.protrude,
body > :not(header):not(footer) > * > * > div.left.protrude,
body > :not(header):not(footer) > * > * > figure.left.protrude,
body > :not(header):not(footer) > * > * > aside.left.protrude {
  margin-left: calc(0px - var(--row-protruding));
}

body > :not(header):not(footer) > * > * > img.right.protrude,
body > :not(header):not(footer) > * > * > pre.right.protrude,
body > :not(header):not(footer) > * > * > table.right.protrude,
body > :not(header):not(footer) > * > * > div.right.protrude,
body > :not(header):not(footer) > * > * > figure.right.protrude,
body > :not(header):not(footer) > * > * > aside.right.protrude {
  margin-right: calc(0px - var(--row-protruding));
}


/**
 * Left/right margin
 */

body > :not(header):not(footer) > * > * > img.left.margin,
body > :not(header):not(footer) > * > * > pre.left.margin,
body > :not(header):not(footer) > * > * > table.left.margin,
body > :not(header):not(footer) > * > * > div.left.margin,
body > :not(header):not(footer) > * > * > figure.left.margin,
body > :not(header):not(footer) > * > * > aside.left.margin,
body > :not(header):not(footer) > * > * > img.right.margin,
body > :not(header):not(footer) > * > * > pre.right.margin,
body > :not(header):not(footer) > * > * > table.right.margin,
body > :not(header):not(footer) > * > * > div.right.margin,
body > :not(header):not(footer) > * > * > figure.right.margin,
body > :not(header):not(footer) > * > * > aside.right.margin {
  --padding: min(var(--vertical-space-block), var(--row-padding));
  width: calc(100% / 3);
}

body > :not(header):not(footer) > * > * > img.left.margin,
body > :not(header):not(footer) > * > * > pre.left.margin,
body > :not(header):not(footer) > * > * > table.left.margin,
body > :not(header):not(footer) > * > * > div.left.margin,
body > :not(header):not(footer) > * > * > figure.left.margin,
body > :not(header):not(footer) > * > * > aside.left.margin {
  margin-left: max(calc(-100% / 3 - var(--padding)), calc(50% - 50vw + var(--padding)));
}

body > :not(header):not(footer) > * > * > img.right.margin,
body > :not(header):not(footer) > * > * > pre.right.margin,
body > :not(header):not(footer) > * > * > table.right.margin,
body > :not(header):not(footer) > * > * > div.right.margin,
body > :not(header):not(footer) > * > * > figure.right.margin,
body > :not(header):not(footer) > * > * > aside.right.margin {
  margin-right: max(calc(-100% / 3 - var(--padding)), calc(50% - 50vw + var(--padding)));
}




/**
 * Panel
 */

body > :not(header):not(footer) > * > * > div:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),


body > :not(header):not(footer) > * > * > div.panel:not() {
  display: inline-block;
}

body > :not(header):not(footer) > * > * > div.panel {
  padding: var(--box-padding-text);
  box-shadow: var(--shadow);
}

body > :not(header):not(footer) > * > * > div.panel > * {
  font-size: var(--font-size-smaller);
}

body > :not(header):not(footer) > * > * > div.wide.margin.panel {
    padding: var(--row-padding);
}

body > :not(header):not(footer) > * > * > div.wide.margin.panel > * {
  width: 100%;
  max-width: calc(var(--content-width) + 2 * var(--row-protruding));
  margin-left: auto;
  margin-right: auto;
}
