/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 *
 * Position <img>, <pre>, <table>, <div>, <figure> and <aside>
 * with following classes:
 *
 * |----------------------|------------------------------------------------|
 * | Class(es)            | Position                                       |
 * |----------------------|------------------------------------------------|
 * | indent (or no class) | Indented from column's left, taking up as much |
 * |                      | horizontal space as needed with respect to     |
 * |                      | indention from column's right.                 |
 * |                      |                                                |
 * | center               | Centered column's left and right indention.    |
 * |                      |                                                |
 * | wide                 | Stretched as wide as the column                |
 * |                      |                                                |
 * | protrude wide        | Stretched as wide as header/footer             |
 * |                      |                                                |
 * | margin wide          | Stretched between viewport edges               |
 * |                      |                                                |
 * | left/right           | Aligned to left/right column edge with         |
 * |                      | half column width                              |
 * |                      |                                                |
 * | protrude left/right  | Aligned to left/right header/footer edge with  |
 * |                      | half column width                              |
 * |                      |                                                |
 * | margin left/right    | Aligned to left/right viewport edge with 1rem  |
 * |                      | distance and third column width                |
 * -----------------------|-------------------------------------------------
 */


/**
 * Position: indented (no class)
 */

body > :not(header):not(footer) > * > * > .indent,
body > :not(header):not(footer) > * > * > aside:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > blockquote:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > div:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > dl:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > figure:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > img:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > ol:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > pre:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > table:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin),
body > :not(header):not(footer) > * > * > ul:not(.center):not(.wide):not(.protrude):not(.left):not(.right):not(.margin) {
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: var(--block-indent);
}


/**
 * Position: center
 */


body > :not(header):not(footer) > * > * > .center {
  max-width: calc(100% - 2 * var(--block-indent));
  margin-left: auto;
  margin-right: auto;
}


/**
 * Position: wide
 */

body > :not(header):not(footer) > * > * > .wide {
  width: 100%;
}


/**
 * Position: wide protrude
 */

body > :not(header):not(footer) > * > * > .protrude:not(.left):not(.right) {  
  width: auto;
  max-width: calc(100% + 2 * var(--row-protruding));
  margin-left: calc(0px - var(--row-protruding));
  margin-right: calc(0px - var(--row-protruding));  
}


/**
 * Position: wide margin
 */

body > :not(header):not(footer) > * > * > .wide.margin {
  max-width: 100vw;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}


/**
 * Position: left/right
 */

body > :not(header):not(footer) > * > * > .left,
body > :not(header):not(footer) > * > * > .right {
  width: calc(50% - var(--vertical-space-block) / 2);
  margin-top: calc(1.5 * var(--vertical-space-paragraph));
  margin-bottom: calc(0.5 * var(--vertical-space-paragraph));
}

body > :not(header):not(footer) > * > * > .left {
  float: left;
  margin-right: var(--vertical-space-block);
}

body > :not(header):not(footer) > * > * > .right {
  float: right;
  margin-left: var(--vertical-space-block);
}

body > :not(header):not(footer) > * > * > .left + p,
body > :not(header):not(footer) > * > * > .right + p {
  margin-top: var(--vertical-space-paragraph);  
}

body > :not(header):not(footer) > * > * > h2 + .left,
body > :not(header):not(footer) > * > * > h3 + .left,
body > :not(header):not(footer) > * > * > h4 + .left,
body > :not(header):not(footer) > * > * > h5 + .left,
body > :not(header):not(footer) > * > * > h2 + .right,
body > :not(header):not(footer) > * > * > h3 + .right,
body > :not(header):not(footer) > * > * > h4 + .right,
body > :not(header):not(footer) > * > * > h5 + .right {
  margin-top: calc(0.63 * var(--vertical-space-paragraph));
}

body > :not(header):not(footer) > * > * > h2 + .left + p,
body > :not(header):not(footer) > * > * > h3 + .left + p,
body > :not(header):not(footer) > * > * > h4 + .left + p,
body > :not(header):not(footer) > * > * > h5 + .left + p,
body > :not(header):not(footer) > * > * > h2 + .right + p,
body > :not(header):not(footer) > * > * > h3 + .right + p,
body > :not(header):not(footer) > * > * > h4 + .right + p,
body > :not(header):not(footer) > * > * > h5 + .right + p {
  margin-top: var(--vertical-space-paragraph-heading);
}

/**
 * Position: left/right protrude
 */

body > :not(header):not(footer) > * > * > .left.protrude {
  margin-left: calc(0px - var(--row-protruding));
}

body > :not(header):not(footer) > * > * > .right.protrude {
  margin-right: calc(0px - var(--row-protruding));
}


/**
 * Position: left/right margin
 */

body > :not(header):not(footer) > * > * > .left.margin,
body > :not(header):not(footer) > * > * > .right.margin {
  --padding: min(var(--vertical-space-block), var(--row-padding));
  width: calc(100% / 3);
}

body > :not(header):not(footer) > * > * > .left.margin {
  margin-left: max(calc(-100% / 3 - var(--padding)), calc(50% - 50vw + var(--padding)));
}

body > :not(header):not(footer) > * > * > .right.margin {
  margin-right: max(calc(-100% / 3 - var(--padding)), calc(50% - 50vw + var(--padding)));
}


/**
 * Styling: Panel
 */

body > :not(header):not(footer) > * > * > .panel {
  padding: var(--box-padding-text);
  font-size: var(--font-size-smaller);
  box-shadow: var(--shadow);
}

body > :not(header):not(footer) > * > * > .panel > * {
  font-size: inherit;
}

body > :not(header):not(footer) > * > * > .wide.margin.panel {
    padding: var(--row-padding);
}

body > :not(header):not(footer) > * > * > .wide.margin.panel > * {
  width: 100%;
  max-width: calc(var(--content-width) + 2 * var(--row-protruding));
  margin-left: auto;
  margin-right: auto;
}


/**
 * Styling: Quote
 */

body > :not(header):not(footer) > * > * > blockquote.indent,
body > :not(header):not(footer) > * > * > blockquote.center,
body > :not(header):not(footer) > * > * > blockquote.wide,
body > :not(header):not(footer) > * > * > blockquote.protrude,
body > :not(header):not(footer) > * > * > blockquote.left,
body > :not(header):not(footer) > * > * > blockquote.right,
body > :not(header):not(footer) > * > * > blockquote.margin,
body > :not(header):not(footer) > * > * > figure > blockquote.indent,
body > :not(header):not(footer) > * > * > figure > blockquote.center,
body > :not(header):not(footer) > * > * > figure > blockquote.wide,
body > :not(header):not(footer) > * > * > figure > blockquote.protrude,
body > :not(header):not(footer) > * > * > figure > blockquote.left,
body > :not(header):not(footer) > * > * > figure > blockquote.right,
body > :not(header):not(footer) > * > * > figure > blockquote.margin {
  font-family: var(--pullquote-font-family);
  font-size: var(--pullquote-font-size);
  font-weight: var(--pullquote-font-weight);
  font-style: var(--pullquote-font-style);
  border-left: var(--pullquote-bar-width) var(--pullquote-bar) var(--pullquote-bar-color);
  padding-left: var(--pullquote-bar-indent);
}