/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/**
 * Floats and clearfixes
 */

.wrap-float {
  clear: none !important;
}

.no-wrap-float {
  clear: both !important;
}


/**
 *  Children and descendants, respectively, inherits this elemenet's color
 */

.children-inherit-color > :not(:hover):not(:focus):not(:active),
.descendants-inherit-color :not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 * Colors
 */

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.gray-dark {
  color: var(--gray-ii);
}

.gray-light {
  color: var(--gray-ix);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary-light {
  color: var(--color-primary-light);
}

.error,
.color-alert {
  color: var(--color-alert);
}

.color-alert-dark {
  color: var(--color-alert-dark);
}

.color-alert-light {
  color: var(--color-alert-light);
}


/**
 * Panels
 */

.panel,
.panel.transparent {
  background-color: transparent;
  color: inherit;
}

.panel.black {
  background-color: var(--black);
  color: var(--white);
}

.panel.white {
  background-color: var(--white);
  color: var(--black);
}

.panel.gray-dark {
  background-color: var(--gray-ii);
  color: var(--white);
}

.panel.gray-light {
  background-color: var(--gray-ix);
  color: var(--black);
}

.panel.color-primary-dark {
  background-color: var(--color-primary-dark);
  color: var(--white);
}

.panel.color-primary-light {
  background-color: var(--color-primary-light);
  color: var(--black);
}

.panel.color-alert-dark {
  background-color: var(--color-alert-dark);
  color: var(--white);
}

.panel.color-alert-light {
  background-color: var(--color-alert-light);
  color: var(--white);
}

.panel * {
  color: inherit;
}

.panel a {
  text-decoration-color: inherit;
}


/**
 *  Box-shadow
 */

.shadow {
  box-shadow: var(--shadow);
}

.no-shadow {
  box-shadow: none;
}



/**
 *  Tranistion
 */

.transition {
  transition: all var(--swift) ease-in-out;
}


/**
 * Kicker and deck for H1. Kicker is the smaller heading above a main heading,
 * and deck is the smaller heading below a main heading. Example of usage:;
 * <h1><span class="kicker">KICKER: </span>HEADING<span class="deck"> DECK</span></h1>
 */

h1 > .kicker {
  display: block;
  margin-bottom: var(--h1-kicker-space);
  font-family: var(--h1-kicker-font-family);
  font-size: var(--h1-kicker-font-size);
  font-weight: var(--h1-kicker-font-weight);
  font-style: var(--h1-kicker-font-style);
  color: var(--h1-kicker-color);
}

h1 > .deck {
  display: block;
  margin-top: var(--h1-deck-space);
  font-family: var(--h1-deck-font-family);
  font-size: var(--h1-deck-font-size);
  font-weight: var(--h1-deck-font-weight);
  font-style: var(--h1-deck-font-style);
  color: var(--h1-deck-color);
}



/**
 * Lead. The opening paragraph of an article that summarizes its main ideas.
 */

.lead {
  margin-top: var(--lead-margin-top);
  margin-bottom: var(--lead-margin-bottom);
  font-family: var(--lead-font-family);
  font-size: var(--lead-font-size);
  font-weight: var(--lead-font-weight);
  font-style: var(--lead-font-style);
  color: var(--lead-color);
}


/**
 * Byline
 */

.byline {
  padding: var(--byline-vertical-padding) 0;
  border-top: var(--byline-border);
  border-bottom: var(--byline-border);
  font-family: var(--byline-font-family);
  font-size: var(--byline-font-size);
  font-weight: var(--byline-font-weight);
  font-style: var(--byline-font-style);
  line-height: 1;
  color: var(--byline-color);
}

.byline :not(:last-child):after {
  content: var(--byline-separator);
}

.byline a:not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 *  Footnotes (works with HTML generated by Typora)
 */

.single-content sup[class*=footnote],
.footnote-line > span:first-child {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

.footnote-line {
  margin-top: var(--space-large);
  padding-top: var(--space-medium);
  border-top: 1px solid var(--text-color);
  font-size: 0.8em;
}

.footnote-line + .footnote-line {
  margin-top: 1em;
  border-top: none;
}

.footnote-line > span:first-child {
  margin-right: 0.5em;
}

.footnote-line > a:last-child {
  margin-left: 0.5em;
  text-decoration: none;
}


/**
 *
 */
.debug {
  outline: 1px solid red;
}