/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/**
 * Don't allow floats to wrap headers if not explicit allowed.
 */

h1:not(.wrap), 
h2:not(.wrap), 
h3:not(.wrap), 
h4:not(.wrap), 
h5:not(.wrap) {
  clear: both;
}


/**
 * Pevent the element to wrap floats that preceede it.
 */

.dont-wrap {
  clear: both !important;
}


/**
 * Prevent an element containing only floats to collaps to nothing and thereby
 * making the element following it (its first sibling) to wrap around the
 * floats inside the element. This is a modern version of clearfix.
 *
 * Notice that this solution alter the display property. If tha is not
 * appropriate, use either the legacy clearfix class on this element or
 * use .dont-wrap on the element following.
 */

.clear {
  display: flow-root;  
}


/**
 * The legacy clearfix hack
 */

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}


/**
 *  Children and descendants, respectively, inherits this elemenet's color
 */

.children-inherit-color > :not(:hover):not(:focus):not(:active),
.descendants-inherit-color :not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 *  Box-shadow
 */

.shadow {
  box-shadow: var(--shadow);
}

.no-shadow {
  box-shadow: none;
}


/**
 *  Transition
 */

.transition {
  transition: all var(--swift) ease-in-out;
}


/**
 * Hide element
 */

.hidden {
  visibility: hidden;
}

@media (min-width: 1024px) {
  .hidden-on-desktop {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-on-tablet {
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .hidden-on-mobile {
    visibility: hidden;
  }
}


/**
 * Remove element
 */

.removed {
  display: none;
}

@media (min-width: 1024px) {
  .removed-on-desktop {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .removed-on-tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .removed-on-mobile {
    display: none;
  }
}


/**
 * Kicker and deck for H1. Kicker is the smaller heading above a main heading,
 * and deck is the smaller heading below a main heading. Example of usage:;
 * <h1><span class="kicker">KICKER: </span>HEADING<span class="deck"> DECK</span></h1>
 */

.kicker {
  display: block;
  margin-bottom: var(--h1-kicker-space);
  font-family: var(--h1-kicker-font-family);
  font-size: var(--h1-kicker-font-size);
  font-weight: var(--h1-kicker-font-weight);
  font-style: var(--h1-kicker-font-style);
  color: var(--h1-kicker-color);
}

.deck {
  display: block;
  margin-top: var(--h1-deck-space);
  font-family: var(--h1-deck-font-family);
  font-size: var(--h1-deck-font-size);
  font-weight: var(--h1-deck-font-weight);
  font-style: var(--h1-deck-font-style);
  color: var(--h1-deck-color);
}



/**
 * Lead. The opening paragraph of an article that summarizes its main ideas.
 */

.lead {
  margin-top: var(--lead-margin-top);
  margin-bottom: var(--lead-margin-bottom);
  font-family: var(--lead-font-family);
  font-size: var(--lead-font-size);
  font-weight: var(--lead-font-weight);
  font-style: var(--lead-font-style);
  color: var(--lead-color);
}


/**
 * Byline.
 *
 * NOTE: This class i only about style. It don't mess with size or position.
 * Thus, you probably want to use it in conjunction with the `wide` class.
 */

.byline {
  padding: var(--byline-vertical-padding) 0;
  border-top: var(--byline-border);
  border-bottom: var(--byline-border);
  font-family: var(--byline-font-family);
  font-size: var(--byline-font-size);
  font-weight: var(--byline-font-weight);
  font-style: var(--byline-font-style);
  line-height: 1;
  color: var(--byline-color);
}

.byline :not(:last-child):after {
  content: var(--byline-separator);
}

.byline a:not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 *  Footnotes (works with HTML generated by Typora)
 */

.single-content sup[class*=footnote],
.footnote-line > span:first-child {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

.footnote-line {
  margin-top: var(--space-large);
  padding-top: var(--space-medium);
  border-top: 1px solid var(--text-color);
  font-size: 0.8em;
}

.footnote-line + .footnote-line {
  margin-top: 1em;
  border-top: none;
}

.footnote-line > span:first-child {
  margin-right: 0.5em;
}

.footnote-line > a:last-child {
  margin-left: 0.5em;
  text-decoration: none;
}


/**
 * Outline an element without affecting the layout.
 */
.debug {
  outline: 1px solid red;
}