/**
 * Kntnt CSS Framework – https://github.com/Kntnt/kntnt-css-framework
 *
 * SPDX-FileCopyrightText: 2021 Kntnt Sweden AB
 * SPDX-License-Identifier: MIT
 */


/**
 * Floats and clearfixes
 */

.wrap-float {
  clear: none !important;
}

.no-wrap-float {
  clear: both !important;
}


/**
 *  Children and descendants, respectively, inherits this elemenet's color
 */

.children-inherit-color > :not(:hover):not(:focus):not(:active),
.descendants-inherit-color :not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 * Colors for panels (typically used on <div>, <figuere>, <aside> and
 * <section>) and highlighted text (typically used on <span> and <mark>).
 */

.panel.yellow
.highlighted.yellow {
  color: inherit;
  background-color: var(--yellow);
}

.panel.blue
.highlighted.blue {
  color: inherit;
  background-color: var(--blue);
}

.panel.green
.highlighted.green {
  color: inherit;
  background-color: var(--green);
}

.panel.red
.highlighted.red {
  color: inherit;
  background-color: var(--red);
}

.panel.torquoise
.highlighted.torquoise {
  color: inherit;
  background-color: var(--torquoise);
}

.panel.orange
.highlighted.orange {
  color: inherit;
  background-color: var(--orange);
}

.panel.lavender
.highlighted.lavender {
  color: inherit;
  background-color: var(--lavender);
}

.panel.pink
.highlighted.pink {
  color: inherit;
  background-color: var(--pink);
}

.panel.lilac
.highlighted.lilac {
  color: inherit;
  background-color: var(--lilac);
}

.panel.touch-of-torqouise
.highlighted.touch-of-torqouise {
  color: inherit;
  background-color: var(--touch-of-torqouise);
}

.panel.hint-of-mint
.highlighted.hint-of-mint {
  color: inherit;
  background-color: var(--hint-of-mint);
}

.panel.creamy-peach
.highlighted.creamy-peach {
  color: inherit;
  background-color: var(--creamy-peach);
}

.panel.pink-blush
.highlighted.pink-blush {
  color: inherit;
  background-color: var(--pink-blush);
}

.panel.milky-yellow
.highlighted.milky-yellow {
  color: inherit;
  background-color: var(--milky-yellow);
}

.panel.lilac-haze
.highlighted.lilac-haze {
  color: inherit;
  background-color: var(--lilac-haze);
}

.panel.cloudy-blue
.highlighted.cloudy-blue {
  color: inherit;
  background-color: var(--cloudy-blue);
}

.panel.dash-of-lime
.highlighted.dash-of-lime {
  color: inherit;
  background-color: var(--dash-of-lime);
}

.panel.mellow-coral-red
.highlighted.mellow-coral-red {
  color: inherit;
  background-color: var(--mellow-coral-red);
}

.panel.cherry-blossom-pink
.highlighted.cherry-blossom-pink {
  color: inherit;
  background-color: var(--cherry-blossom-pink);
}

.panel.dusty-grey
.highlighted.dusty-grey {
  color: inherit;
  background-color: var(--dusty-grey);
}

.panel.pale-orange
.highlighted.pale-orange {
  color: inherit;
  background-color: var(--pale-orange);
}

.panel.breezy-blue
.highlighted.breezy-blue {
  color: inherit;
  background-color: var(--breezy-blue);
}

.panel.frozen-fuchsia
.highlighted.frozen-fuchsia {
  color: inherit;
  background-color: var(--frozen-fuchsia);
}

.panel.black
.highlighted.black {
  color: var(--white);
  background-color: var(--black);
}

.panel.extra-black
.highlighted.extra-black {
  color: var(--extra-white);
  background-color: var(--extra-black);
}

.panel.almost-black
.highlighted.almost-black {
  color: var(--almost-white);
  background-color: var(--almost-black);
}

.panel.white
.highlighted.white {
  color: var(--black);
  background-color: var(--white);
}

.panel.almost-white
.highlighted.almost-white {
  color: var(--almost-black);
  background-color: var(--almost-white);
}

.panel.extra-white
.highlighted.extra-white {
  color: var(--extra-black);
  background-color: var(--extra-white);
}

.panel.gray-i
.highlighted.gray-i {
  color: var(--white);
  background-color: var(--gray-i);
}

.panel.gray-ii
.highlighted.gray-ii {
  color: var(--white);
  background-color: var(--gray-ii);
}

.panel.gray-iii
.highlighted.gray-iii {
  color: var(--white);
  background-color: var(--gray-iii);
}

.panel.gray-iv
.highlighted.gray-iv {
  color: var(--white);
  background-color: var(--gray-iv);
}

.panel.gray-v
.highlighted.gray-v {
  color: var(--white);
  background-color: var(--gray-v);
}

.panel.gray-vi
.highlighted.gray-vi {
  color: var(--black);
  background-color: var(--gray-vi);
}

.panel.gray-vii
.highlighted.gray-vii {
  color: var(--black);
  background-color: var(--gray-vii);
}

.panel.gray-viii
.highlighted.gray-viii {
  color: var(--black);
  background-color: var(--gray-viii);
}

.panel.gray-ix
.highlighted.gray-ix {
  color: var(--black);
  background-color: var(--gray-ix);
}

.panel.gray-x
.highlighted.gray-x {
  color: var(--black);
  background-color: var(--gray-x);
}

.panel.color-alert-dark,
.highlight.color-alert-dark {
  background-color: var(--color-alert-dark);
  color: var(--white);
}

.panel.color-alert-light,
.highlight.color-alert-light {
  background-color: var(--color-alert-light);
  color: var(--black);
}

.panel.color-primary-light,
.highlight.color-primary-dark {
  background-color: var(--color-primary-dark);
  color: var(--white);
}

.panel.color-primary-light,
.highlight.color-primary-light {
  background-color: var(--color-primary-light);
  color: var(--black);
}

.panel *,
.highlight * {
  color: inherit;
}

.panel a,
.highlight a {
  text-decoration-color: inherit;
}


/**
 *  Box-shadow
 */

.shadow {
  box-shadow: var(--shadow);
}

.no-shadow {
  box-shadow: none;
}



/**
 *  Tranistion
 */

.transition {
  transition: all var(--swift) ease-in-out;
}


/**
 * Kicker and deck for H1. Kicker is the smaller heading above a main heading,
 * and deck is the smaller heading below a main heading. Example of usage:;
 * <h1><span class="kicker">KICKER: </span>HEADING<span class="deck"> DECK</span></h1>
 */

h1 > .kicker {
  display: block;
  margin-bottom: var(--h1-kicker-space);
  font-family: var(--h1-kicker-font-family);
  font-size: var(--h1-kicker-font-size);
  font-weight: var(--h1-kicker-font-weight);
  font-style: var(--h1-kicker-font-style);
  color: var(--h1-kicker-color);
}

h1 > .deck {
  display: block;
  margin-top: var(--h1-deck-space);
  font-family: var(--h1-deck-font-family);
  font-size: var(--h1-deck-font-size);
  font-weight: var(--h1-deck-font-weight);
  font-style: var(--h1-deck-font-style);
  color: var(--h1-deck-color);
}



/**
 * Lead. The opening paragraph of an article that summarizes its main ideas.
 */

.lead {
  margin-top: var(--lead-margin-top);
  margin-bottom: var(--lead-margin-bottom);
  font-family: var(--lead-font-family);
  font-size: var(--lead-font-size);
  font-weight: var(--lead-font-weight);
  font-style: var(--lead-font-style);
  color: var(--lead-color);
}


/**
 * Byline
 */

.byline {
  max-width: none;
  margin-left: 0;
  padding: var(--byline-vertical-padding) 0;
  border-top: var(--byline-border);
  border-bottom: var(--byline-border);
  font-family: var(--byline-font-family);
  font-size: var(--byline-font-size);
  font-weight: var(--byline-font-weight);
  font-style: var(--byline-font-style);
  line-height: 1;
  color: var(--byline-color);
}

.byline :not(:last-child):after {
  content: var(--byline-separator);
}

.byline a:not(:hover):not(:focus):not(:active) {
  color: inherit;
}


/**
 *  Footnotes (works with HTML generated by Typora)
 */

.single-content sup[class*=footnote],
.footnote-line > span:first-child {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

.footnote-line {
  margin-top: var(--space-large);
  padding-top: var(--space-medium);
  border-top: 1px solid var(--text-color);
  font-size: 0.8em;
}

.footnote-line + .footnote-line {
  margin-top: 1em;
  border-top: none;
}

.footnote-line > span:first-child {
  margin-right: 0.5em;
}

.footnote-line > a:last-child {
  margin-left: 0.5em;
  text-decoration: none;
}


/**
 *
 */
.debug {
  outline: 1px solid red;
}