:root {
	--header-background-color: #112b16;
}

#topbar {
	color: var(--topbar-color);
	background-color: var(--topbar-header-color);
}

#header {
	color: var(--header-color);
	background-color: var(--header-background-color);
}