#header > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#header > * > figure {
  margin: 0;
}

#header > * > figure img {
  max-height: var(--header-content-height-max);
}

#header > * > nav {
  margin: 0;
}

#header > * > nav > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#header > * > nav > ul > li {
  list-style-type: none;
  margin: 0 0 0 1em;
}

#footer > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer > * > * {
  margin: 0;
}


#footer > * > :first-child {
  flex-basis: 25%;
  padding-right: 2rem;
  border-right: 1px solid var(--gray-viii);
}

#footer > * > :first-child > aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  color: var(--gray-iii);
}

#footer > * > :last-child {
  flex-basis: 80%;
  padding-left: 2rem;
  padding-top: 5rem;
}

#footer > * > :last-child > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

#footer > * > :last-child > ul > li {
  margin: 0 0 0 1em;
  list-style-type: none;
}

#footer > * > :last-child > ul > li > a {
  text-decoration: underline;
}

#footer > * > :last-child > ul > li > ul {
  padding: 0;
}

#footer > * > :last-child > ul > li > ul > li {
  margin-top: 1em 0 0 0;
  list-style-type: none;
}

#footer > * > :last-child > ul > li > ul > li > ul {
  display: none;
}

#bottombar > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;  
}

#bottombar > * > * {
  margin: 0;
}

#bottombar > * > * > * + * {
  margin-top: var(--space-xxsmall);
}

